function formatPlayCount(count) {
  var formatCount = parseInt(count)
  if (formatCount >= 100000000) {
    return (formatCount / 100000000).toFixed(1) + "亿"
  } else if (formatCount >= 10000) {
    return (formatCount / 10000).toFixed(1) + "万"
  } else {
    return formatCount + ""
  }
}

function padLeftZero(number) {
  number = number + ""
  return ("00" + number).slice(number.length)
}

function formatDuration(duration) {
  duration = parseInt(duration) / 1000
  var minute = Math.floor(duration / 60)
  var second = Math.floor(duration) % 60
  return padLeftZero(minute) + ":" + padLeftZero(second)
}

module.exports = {
  formatPlayCount: formatPlayCount,
  formatDuration: formatDuration
}